@model List<TravelGuide.Models.Properties.TouristplaceModel.Touristplace>
@{
    ViewBag.Title = "Index";
}

<style>
    .timeline {
    position: relative;
    padding: 21px 0px 10px;
    margin-top: 4px;
    margin-bottom: 30px;
}

.timeline .line {
    position: absolute;
    width: 4px;
    display: block;
    background: currentColor;
    top: 0px;
    bottom: 0px;
    margin-left: 30px;
}

.timeline .separator {
    border-top: 1px solid currentColor;
    padding: 5px;
    padding-left: 40px;
    font-style: italic;
    font-size: .9em;
    margin-left: 30px;
}

.timeline .line::before { top: -4px; }
.timeline .line::after { bottom: -4px; }
.timeline .line::before,
.timeline .line::after {
    content: '';
    position: absolute;
    left: -4px;
    width: 12px;
    height: 12px;
    display: block;
    border-radius: 50%;
    background: currentColor;
}

.timeline .panel {
    position: relative;
    margin: 10px 0px 21px 70px;
    clear: both;
}

.timeline .panel::before {
    position: absolute;
    display: block;
    top: 8px;
    left: -24px;
    content: '';
    width: 0px;
    height: 0px;
    border: inherit;
    border-width: 12px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}

.timeline .panel .panel-heading.icon * { font-size: 20px; vertical-align: middle; line-height: 40px; }
.timeline .panel .panel-heading.icon {
    position: absolute;
    left: -59px;
    display: block;
    width: 40px;
    height: 40px;
    padding: 0px;
    border-radius: 50%;
    text-align: center;
    float: left;
}

.timeline .panel-outline {
    border-color: transparent;
    background: transparent;
    box-shadow: none;
}

.timeline .panel-outline .panel-body {
    padding: 10px 0px;
}

.timeline .panel-outline .panel-heading:not(.icon),
.timeline .panel-outline .panel-footer {
    display: none;
}

</style>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container col-lg-8">
    <!-- Page header -->
    <div class="page-header">
        <h2>Iteration <small>using latitude and longitude <code>.powered by google</code>.</small></h2>
    </div>
    <!-- /Page header -->
    <!-- Timeline -->
    <div class="timeline">

        <!-- Line component -->
        <div class="line text-muted"></div>
       
     

        @foreach (var tourPlace in Model)
        {
            <div class="separator text-muted">
                <time>27. 3. 2015</time>
            </div>


            <article class="panel panel-default panel-outline">


                <div class="panel-heading icon">
                    <i class="glyphicon glyphicon-picture"></i>
                </div>

                <div class="panel-body">

                    <img class="img-responsive img-rounded" src="~/PackageFiles/@tourPlace.PhotoPath" />
                </div>


            </article>




            <article class="panel panel-primary">


                <div class="panel-heading icon">
                    <i class="glyphicon glyphicon-plus"></i>
                </div>


                <div class="panel-heading">
                    <h2 class="panel-title">@tourPlace.PlaceName</h2>
                </div>


                <div class="panel-body">
                    Great place to visit.
                </div>
                <div class="panel-body">
                    Great place to visit.
                </div>


                <div class="panel-footer">
                    <small>@tourPlace.Description</small>
                </div>


            </article>
        }

      

    </div>
  

</div>
 
